{%- liquid
  if collection.url.size == 0
    assign results_url = routes.all_products_collection_url
  else
    assign results_url = collection.url
  endif

  if results_url contains "?"
    assign results_url = results_url | split: "?" | first
  endif

  assign current_sort_by = collection.sort_by | default: collection.default_sort_by
-%}
{% if collection.title == 'Products' %}
  <div class="banner-img">
            <div class="banner-main-img">
              {% if collection.image.src != blank %}
            <img data-cc-animate data-cc-animate-delay="0.2s" src="{{ collection.image.src | collection_img_url: 'master' }}">
                {% else %}
            <img data-cc-animate data-cc-animate-delay="0.2s" src="{{ section.settings.banner-img | img_url : 'master' }}">
                {% endif %}
            </div>
            <div class="banner-content">
            {% if section.settings.svg_code != blank %}
            <div class="svg___icon">{{ section.settings.svg_code }}</div>
            {% endif %}
            <h2>{{ section.settings.title-banner }}</h2>
            </div>
            </div>
  {% endif %}
<div data-section-type="collection-template"
     data-ajax-filtering="{{ section.settings.ajax_products }}"
     data-components="tabs,product-block,price-range,accordion,sticky-scroll-direction"
     class="pb-medium {% if section.settings.show_collection_image and collection.featured_image %}header-overlap-section{% elsif section.settings.show_collection_content %}{% else %}sm:pt-medium{% endif %}" data-cc-animate>

  {% paginate collection.products by section.settings.products_per_page %}
    {% if section.settings.show_collection_image and collection.featured_image %}
      <div class="collection-header image-overlay image-overlay--bg-full needs-alt-logo">
            <div class="banner-img">
          <div class="banner-main-img">
              {% if collection.image.src != blank %}
            <img data-cc-animate data-cc-animate-delay="0.2s" src="{{ collection.image.src | collection_img_url: 'master' }}">
                {% else %}
            <img data-cc-animate data-cc-animate-delay="0.2s" src="{{ section.settings.banner-img | img_url : 'master' }}">
                {% endif %}
            </div>
            <div class="banner-content">
            {% if section.settings.svg_code != blank %}
            <div class="svg___icon">{{ section.settings.svg_code }}</div>
            {% endif %}
            <h2>{{ section.settings.title-banner }}</h2>
            </div>
            </div>
      </div>
    {% endif %}
 <div class="hedding-seller">
    <h1 class="line-1  no-margin cc-animate-init feature-header--visible -in cc-animate-complete">{{ section.settings.headings }}</h1>
    <p style="text-align:center;">{{ section.settings.infoo }}</p>
  </div>
    {% render "search-filter",
      mode: "collection",
      results: collection,
      section: section,
      results_url: results_url,
      paginate: paginate,
      current_sort_by: current_sort_by
    %}


          
  
    {% if collection.description != blank and section.settings.description_position == "bottom" and section.settings.show_collection_content == true %}
      <div class="central footer">
        <div class="content transparent">
          <div class="rte">
            {{ collection.description }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endpaginate %}
</div>

<style>
  .banner-img{
    height:350px;
    width:100%;
    overflow:hidden;
    position:relative;
  }
   .banner-img .banner-main-img img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
     width: 100%;
    height: 100%;
   }
  .banner-img .banner-content{
    position: absolute;
    top:5%;
    left:27%;
    width:50%;
  }
  .banner-img .banner-content h2{
    color:#fff;
    margin-top:10px;
  }
  .sold-out-popup{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sold-out-popup .popup-inner{
      background: #fff;
    width: 44%;
    padding: 42px 20px;
    text-align: center;
    opacity: .9;
    font-size: 20px;
  }
    .sold-out-popup .popup-inner p{
        margin: 0;
    line-height: 40px;
  }
  .sold-out-popup .popup-inner a{
    color:#e31d93;
  }
  @media (min-width:992px) and (max-width:1199px){
     .sold-out-popup .popup-inner {
    width: 58%;
       padding: 20px 20px;
     }
}
@media (min-width:768px) and (max-width:991px){
      .sold-out-popup .popup-inner {
      width: 72%;
      padding: 30px 20px;
      font-size: 18px;
    }
    .sold-out-popup .popup-inner p {
      margin: 0;
      line-height: 29px;
    }
}
  @media (max-width:767px){
      .sold-out-popup .popup-inner {
      width: 72%;
      padding: 30px 20px;
      font-size: 18px;
    }
    .sold-out-popup .popup-inner p {
      margin: 0;
      line-height: 29px;
    }
  }
  @media(max-width:320px){
      .sold-out-popup .popup-inner {
      width: 95%;
    }
  }
  .hedding-seller{
        margin-top: 29px;
        margin-left: 100px;
  }
  .hedding-seller h1{
    margin-bottom: 0px;
    font-size: 33px;
  }
  .hedding-seller h1 sup{
    font-size:18px;
  }
  .hedding-seller p{
    text-align: center;
    margin: 0;
  }
  .hedding-seller p span{
    color:#e31d93;
  }
  #page-content .central{
    margin: 20px auto 0 ;
/*     padding-left:0; */
  }
  .central .content h1{
    margin:0;
  }
  @media(max-width:767px){
    .hedding-seller{
      margin-left:0;
      margin-top:0;
      padding-top:25px;
    }
    .hedding-seller h1{
      font-size:27px;
    }
  }
</style>
{% schema %}
  {
    "name": "Collection pages",
    "class": "theme-filter-container",
    "settings": [
       {
        "type": "header",
        "content": "Banner"
      },
         {
        "type": "image_picker",
        "id": "banner-img",
        "label": "Banner Img"
      },
      {
        "type": "html",
        "id": "svg_code",
        "label": "SVG Code"
      },
       {
        "type": "text",
        "id": "title-banner",
        "label": "Banner Title"
      },
      {
        "type":"header",
        "content":"Sold Out Popup"
      },
      {
        "type":"textarea",
        "id":"popup-text",
        "label":"Popup Content"
      },
       {
        "type": "header",
        "content": "Collection Heding"
      },
         {
        "type": "text",
        "id": "headings",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "infoo",
        "label": "Details"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "checkbox",
        "id": "show_collection_content",
        "label": "Show collection title/description",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
     
      {
        "type": "select",
        "id": "description_position",
        "label": "Description position",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "header",
        "content": "GRID"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "value": "columns",
            "label": "Collage"
          },
          {
            "value": "rows",
            "label": "Grid"
          }
        ],
        "default": "rows",
        "info": "Collage will only work when the 'Image shape' is set to Natural - in Products / Image shape"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Desktop products per row",
        "min": 2,
        "max": 4,
        "default": 3
      },
      {
        "type": "select",
        "id": "grid_mobile",
        "label": "Mobile products per row",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ],
        "default": "2"
      },
      {
        "type": "range",
        "id": "products_per_page",
        "label": "Products per page",
        "min": 12,
        "max": 48,
        "step": 6,
        "default": 18
      },
      {
        "type": "checkbox",
        "id": "enable_infinite_scroll",
        "label": "Enable infinite-scroll",
        "default": true,
        "info": "As visitors scroll down, more products are loaded in automatically."
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendor",
        "default": false
      },
      {
        "type": "header",
        "content": "FILTERS"
      },
      {
        "type": "paragraph",
        "content": "To create the collection filters, go to your [navigation](\/admin\/menus) page."
      },
      {
        "type": "checkbox",
        "id": "show_filter_counts",
        "label": "Show filter counts",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_filter_deadends",
        "label": "Show filters with zero results",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "ajax_products",
        "label": "Filter and sort without reloading the page",
        "default": true,
        "info": "Some apps require this to be disabled"
      },
      {
        "type": "radio",
        "id": "filter_mode",
        "label": "Filter mode",
        "default": "sidebar",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "simple",
            "label": "Simple"
          },
          {
            "value": "sidebar",
            "label": "Sidebar"
          }
        ],
        "info": "'Simple' is only recommended if you have a small number of filters. Note, it doesn't allow for multiple options within a filter to be selected and it won't show the price range filter."
      },
      {
        "type": "header",
        "content": "Sidebar Settings"
      },
      {
        "type": "checkbox",
        "id": "sticky_sidebar",
        "label": "Stick the sidebar on scroll",
        "default": true
      },
      {
        "type": "select",
        "id": "collapse_filters_method",
        "label": "Filter group collapse",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "over-6",
            "label": "Over 6 items"
          },
          {
            "value": "over-12",
            "label": "Over 12 items"
          },
          {
            "value": "over-18",
            "label": "Over 18 items"
          },
          {
            "value": "all",
            "label": "All"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "collapse_sort_by",
        "label": "Collapse 'Sort by' filter group",
        "default": false
      },
      {
        "type": "header",
        "content": "Sorting"
      },
      {
        "type": "checkbox",
        "id": "enable_sorting",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_featured_in_sort",
        "label": "Show 'Featured' option in sorting dropdown",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "swatch_enabled",
        "label": "Enable color swatches",
        "default": false
      },
      {
        "type": "paragraph",
        "content": "This indicates the color of the product variants. [Learn more](https:\/\/cleancanvas.co.uk\/support\/general\/swatches)"
      },
      {
        "type": "text",
        "id": "swatch_option_name",
        "label": "Option name",
        "default": "Color"
      },
      {
        "type": "select",
        "id": "swatch_method",
        "label": "Swatch method",
        "info": "For 'Uploaded image' - upload png image files where the file name matches the option value, in lowercase with spaces replaced by hyphens. For example 'Dark blue' becomes 'dark-blue.png'",
        "default": "standard",
        "options": [
          {
            "value": "standard",
            "label": "HTML color"
          },
          {
            "value": "image",
            "label": "Uploaded image"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "prod_block_swatches",
        "label": "Show swatches in product grid",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "swatch_use_prod_images",
        "label": "Show product images in swatches",
        "info": "This won't work for collection page filters (if enabled)",
        "default": false
      },
      {
        "type": "select",
        "id": "swatch_prod_images_shape",
        "label": "Swatch product image shape",
        "options": [
          {
            "value": "natural",
            "label": "Natural"
          },
          {
            "value": "square",
            "label": "Square"
          },
          {
            "value": "circle",
            "label": "Circle"
          }
        ],
        "default": "natural"
      },
      {
        "type": "select",
        "id": "swatch_prod_images_alignment",
        "label": "Swatch product image alignment",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ],
        "default": "center"
      }
    ],
    "blocks":[
      {
        "type":"ourproduct-slide",
        "name":"Sold-Out Product",
        "settings":[
          {
            "type":"product",
              "id": "product_main",
            "label": "Product"
          }
        ]
      }
    ]
  }
{% endschema %}
